<html>
    <head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Aguafina Script' rel='stylesheet'>

    <script type="text/javascript" src="/static/script.js"></script>
</head>

    <body class="green lighten-2">
        <h1 class="center script">The Creators</h1>
<div><h5 class="center"><a href="/" class="black-text text-darken-3 underline ">find a recipe here</a></h5></div>
<div class="container"><br>
    <div class="row">
        <div class="col l6 m12 s12">
             <div class="row script center">
                <h3>Herman Amevor</h3>
            </div>
            <div class="row">
                <img src="static/Parisa.jpeg" class="responsive-img"></img>
            </div><br>
           <div class="row center">
               Parisa Afsharian is a rising sophomore at Brown University concentrating in Neuroscience on the pre-med track. She is from the suburbs of Philadelphia, PA and enjoys cooking, playing tennis, and watching movies. She hopes that this website will help the many people who 
           </div>

        </div>
        <div class="col l6 m12 s12">
             <div class="row script center">
                <h3>Jacob Axel</h3>
            </div>
            <div class="row">
                <img src="static/Jacob.jpg" class="responsive-img"></img>
            </div><br>
           <div class="row center">
               Jacob Axel is a rising first year at Brown University after graduating from the Bronx High School of Science. He will be concentrating in biomedical engineering and hopes to continue with computer science. He was inspired to make this recipe finder out of his love of food and the frustration for having to search for specific recipes on the internet.
           </div>
        </div>
    </div>
</div>










    </body>






</html>
